/* 全局样式 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* 设置背景图，并确保它大于可视区域，以便可以移动 */
    background-image: url(../Photos/admin_login.webp);
    background-size: 130% 130%;
    background-position: center;
    transition: background-position 0.5s ease-out;

}

.login-container {
    background-color: rgba(255, 255, 255, 0.5); /* 半透明白色 */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
